html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -100;
  background: #99E2D0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: disparition 2s ease-in-out 0s 1;
          animation: disparition 2s ease-in-out 0s 1;
}

.ring {
  position: absolute;
  z-index: -500;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-animation: index 2s ease 0s 1;
          animation: index 2s ease 0s 1;
}

.ring-txt {
  width: 280px;
  height: 280px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Shrikhand", cursive;
  line-height: 1.5;
  font-size: 25px;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: rotation-loading 2s ease-in-out 0s 1;
          animation: rotation-loading 2s ease-in-out 0s 1;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-menu a {
  position: absolute;
  left: 50px;
  color: black;
  font-size: 30px;
}

.header-menu__titre {
  margin: 15px;
  letter-spacing: 1px;
  font-size: 27px;
}

.menu-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu-img img {
  width: 100%;
  height: 100%;
}

.choix-menu {
  display: flex;
  flex-direction: column;
}

.all-menus {
  padding: 40px;
  background-color: #f1f1f1;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
}

.all-menus-titre {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 27px;
}
.all-menus-titre h2 {
  font-family: "Shrikhand", cursive;
}
.all-menus-titre-heart {
  width: 30px;
  position: relative;
}
.all-menus-titre-heart i {
  position: absolute;
}
.all-menus-titre-heart i:hover {
  background-image: linear-gradient(to top, rgba(255, 121, 218, 0.8631827731) 20%, rgb(147, 86, 220) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 1;
}
.all-menus-titre .icone-coeur {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8631827731) 20%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.groupe-menus {
  min-width: 200px;
}
.groupe-menus h2 {
  position: relative;
  font-size: 20px;
  margin-bottom: 50px;
  color: rgb(68, 68, 68);
}
.groupe-menus h2::after {
  content: " ";
  position: absolute;
  width: 70px;
  height: 6px;
  top: 30px;
  left: 0;
  background-color: #99E2D0;
}

.menu-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.menu-plats-one {
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: ouverture-plats-one 2.2s ease-in-out 1s 1;
          animation: ouverture-plats-one 2.2s ease-in-out 1s 1;
}
.menu-plats-one:hover .menu-plats-validation {
  width: 70px;
}
.menu-plats-one:hover .menu-plats-validation i {
  -webkit-animation: rotation 0.3s ease-in-out 0.1s 1;
          animation: rotation 0.3s ease-in-out 0.1s 1;
}

.menu-plats-two {
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: ouverture-plats-two 2.6s ease-in-out 1s 1;
          animation: ouverture-plats-two 2.6s ease-in-out 1s 1;
}
.menu-plats-two:hover .menu-plats-validation {
  width: 70px;
}
.menu-plats-two:hover .menu-plats-validation i {
  -webkit-animation: rotation 0.3s ease-in-out 0.1s 1;
          animation: rotation 0.3s ease-in-out 0.1s 1;
}

.menu-plats-three {
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: ouverture-plats-three 3s ease-in-out 1s 1;
          animation: ouverture-plats-three 3s ease-in-out 1s 1;
}
.menu-plats-three:hover .menu-plats-validation {
  width: 70px;
}
.menu-plats-three:hover .menu-plats-validation i {
  -webkit-animation: rotation 0.3s ease-in-out 0.1s 1;
          animation: rotation 0.3s ease-in-out 0.1s 1;
}

.menu-plats-four {
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: ouverture-plats-three 3s ease-in-out 1s 1;
          animation: ouverture-plats-three 3s ease-in-out 1s 1;
}
.menu-plats-four:hover .menu-plats-validation {
  width: 70px;
}
.menu-plats-four:hover .menu-plats-validation i {
  -webkit-animation: rotation 0.3s ease-in-out 0.1s 1;
          animation: rotation 0.3s ease-in-out 0.1s 1;
}

.menu-plats-txt {
  min-width: 100px;
  flex: 1;
  padding: 20px 0 20px 20px;
  transition: all 0.5s ease-in-out;
}
.menu-plats-txt h3 {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-plats-txt p {
  padding-bottom: 3px;
  color: rgb(114, 114, 114);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-plats-prix {
  transition: all 0.5s ease-in-out;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.menu-plats-prix span {
  font-size: 20px;
  font-weight: bold;
}

.menu-plats-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  transition: all 0.5s ease-in-out;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  overflow: hidden;
}
.menu-plats-validation i {
  padding: 5px;
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
  transition: all 1s ease-in-out;
}

.fa-check {
  font-size: 25px;
}

.commander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.commander a {
  text-align: center;
  margin-bottom: 90px;
  padding: 25px 100px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background: linear-gradient(0deg, rgb(147, 86, 220) 20%, rgb(255, 121, 218) 100%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.commander a:hover {
  opacity: 0.8;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: rgb(78, 78, 78);
  color: white;
  display: flex;
  flex-direction: column;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding: 30px;
  margin-top: 20px;
}

.footer-txt {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 10px 0;
  font-size: 15px;
}

.footer-p1 i {
  margin-right: 22px;
}

.footer-p2 i {
  margin-right: 15px;
  font-size: 15px;
}

@-webkit-keyframes ouverture-plats-one {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes ouverture-plats-one {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes ouverture-plats-two {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes ouverture-plats-two {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes ouverture-plats-three {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes ouverture-plats-three {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes ouverture-plats-four {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes ouverture-plats-four {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation-loading {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  20% {
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(720deg);
  }
  75% {
    opacity: 1;
    transform: rotate(720deg);
  }
  100% {
    opacity: 0;
    transform: rotate(720deg);
  }
}
@keyframes rotation-loading {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  20% {
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(720deg);
  }
  75% {
    opacity: 1;
    transform: rotate(720deg);
  }
  100% {
    opacity: 0;
    transform: rotate(720deg);
  }
}
@-webkit-keyframes disparition {
  0% {
    opacity: 1;
    z-index: 100;
  }
  50% {
    opacity: 1;
    z-index: 100;
  }
  75% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: 100;
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
    z-index: 100;
  }
  50% {
    opacity: 1;
    z-index: 100;
  }
  75% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: 100;
  }
}
@-webkit-keyframes index {
  0% {
    z-index: 1000;
  }
  100% {
    z-index: 1000;
  }
}
@keyframes index {
  0% {
    z-index: 1000;
  }
  100% {
    z-index: 1000;
  }
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer h3 {
    padding: 10px;
  }
  .footer-txt {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
@media screen and (min-width: 1192px) {
  .menu-img {
    max-height: 600px;
  }
  .all-menus-titre-heart {
    margin-right: 100px;
    font-size: 35px;
  }
  .groupe-menus {
    display: flex;
    flex-direction: column;
  }
  .menu-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 40px;
  }
  .menu-plats-one, .menu-plats-two, .menu-plats-three, .menu-plats-four {
    margin: 0 10px;
    width: 30%;
  }
  .menu-plats-txt {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .menu-plats-prix {
    width: 50px;
    margin-left: 10px;
  }
  .menu-plats-prix span {
    bottom: 50px;
  }
  .commander a {
    padding: 30px 100px;
    border-radius: 25px;
    margin-top: 100px;
  }
}