html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__titre {
  margin: 15px;
  letter-spacing: 1px;
  font-size: 27px;
}

.header__localisation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 30px 23px 23px;
  background-color: #f1f1f1;
  position: relative;
}
.header__localisation:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0px;
  box-shadow: 5px 5px 5px rgb(190, 188, 188);
}
.header__localisation p {
  padding-left: 20px;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}

.presentation__full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
}
.presentation__titre {
  margin: 20px;
  font-size: 27px;
  text-align: center;
  font-weight: bold;
}
.presentation p {
  text-align: center;
  margin: 20px;
  color: rgb(114, 114, 114);
}
.presentation a {
  text-align: center;
  margin: 30px 0;
  padding: 30px 40px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background: linear-gradient(0deg, rgb(147, 86, 220) 20%, rgb(255, 121, 218) 100%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.presentation a:hover {
  opacity: 0.8;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.fonction {
  margin: 60px 30px;
}
.fonction__titre {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 20px;
}
.fonction__all-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonction__options {
  position: relative;
  width: 70%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.fonction__options span {
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -15px;
  background: #9356DC;
  color: white;
  border-radius: 50%;
}
.fonction__options i {
  padding-right: 50px;
  padding-left: 15px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.fonction__options:hover {
  background-color: rgba(147, 86, 220, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.fonction__options:hover i {
  color: #9356DC;
}

.restaurants {
  background: #f1f1f1;
  padding: 80px 0;
}
.restaurants__titre {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: 30px;
}
.restaurants__cards {
  margin: 40px 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.1);
}
.restaurants__cards a {
  position: relative;
  height: 100%;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
}

.cards--img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
  margin: 0;
}
.cards--img img {
  width: 100%;
  max-height: 400px;
  max-width: 790px;
  border-radius: 25px 25px 0 0;
}

.nouveau {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #096850;
  border-radius: 5px;
  font-weight: bold;
}

.cards--heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}

.cards-txt {
  display: flex;
  flex-direction: column;
}
.cards-txt h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

.p-cards {
  color: rgb(114, 114, 114);
}

.cards-coeur {
  position: relative;
}

.cards-coeur i {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 25px;
}

.icone-coeur {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8631827731) 20%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.icone-coeur:hover {
  background-image: linear-gradient(to top, rgba(255, 121, 218, 0.8631827731) 20%, rgb(147, 86, 220) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 1;
}

footer {
  background-color: rgb(78, 78, 78);
  color: white;
  display: flex;
  flex-direction: column;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding: 30px;
  margin-top: 20px;
}

.footer-txt {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 10px 0;
  font-size: 15px;
}

.footer-p1 i {
  margin-right: 22px;
}

.footer-p2 i {
  margin-right: 15px;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .header__titre {
    font-size: 40px;
  }
  .header__localisation {
    font-size: 20px;
  }
  .fonction__titre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fonction__all-options {
    width: 80%;
    margin: 0 auto;
  }
  .restaurants {
    padding: 40px 0;
  }
  .restaurants__titre {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .restaurants__all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .restaurants__cards {
    width: 40%;
    height: 100%;
  }
  .cards--img {
    height: 100%;
  }
  .cards--img img {
    height: 100%;
  }
  .nouveau {
    top: 30px;
    right: 30px;
    padding: 10px 20px;
  }
  .cards--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }
  .cards-txt h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  .cards-coeur i {
    top: -17px;
    right: 10px;
    font-size: 25px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer h3 {
    padding: 10px;
  }
  .footer-txt {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
@media screen and (min-width: 1192px) {
  .fonction__titre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fonction__all-options {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .fonction__options {
    width: 20%;
    margin: 20px 30px 0 30px;
  }
  .restaurants {
    padding: 40px 0;
  }
  .restaurants__all-cards {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
  }
  .restaurants__cards {
    width: 40%;
    height: 100%;
    margin: 0 10px;
  }
  .nouveau {
    top: 30px;
    right: 30px;
    padding: 5px 10px;
  }
  .cards--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }
  .cards-txt h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-txt {
    justify-content: center;
    align-items: center;
  }
}