@import "libs/reset.scss";
@import "libs/mixin.scss";
@import "libs/responsive.scss";


// -------VARIABLE

body {
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: rgb(78, 78, 78);
    color: white;
}

footer h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
}