body {
    font-family: 'Roboto', sans-serif;
    
    border-radius: 25px;
}


//---------LOADER

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -100;
    background: $colortert;
    opacity: 0;
    @include flexcol;
    @include centrehv;
    animation: disparition 2s ease-in-out 0s 1;
}

.ring {
    position: absolute;
    z-index: -500;
    display: flex;
    width: 100%;
    height: 100%;
    animation: index 2s ease 0s 1 ;
}

.ring-txt {
    width: 280px;
    height: 280px;
    margin: auto;
    display: flex;
    @include centrehv;
    color: white;
    font-family: "Shrikhand", cursive;
    line-height: 1.5;
    font-size: 25px;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-radius: 50%;
    opacity: 0;
    animation: rotation-loading 2s ease-in-out 0s 1;

}

//---------HEADER

.header {
    @include flexcol;
    @include centrehv;
}

.header__titre {
    margin: 15px;
    letter-spacing: 1px;
    font-size: $sizetitre;

}

.header__localisation {
    width: 100%;
    display: flex;
    @include centrehv;
    padding: 23px 30px 23px 23px;
    background-color: $colorgrey;
    position: relative;
    box-sizing: border-box;

    &:after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 10px;
        top: -10px;
        left: 0px;
        box-shadow: 5px 5px 5px rgb(190, 188, 188);
    }

    p {
        padding-left: 20px;
        margin: 0;
        font-weight: bold;
        font-size: $sizeparagraphe;
    }
}

.localisation-ville {
    max-width: 110px;
    background: none;
    border: none;
    color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding-left: 15px;
    &::placeholder {
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
    &:focus, &:focus-visible {
        outline: none;
    }
}



//---------PRESENTATION

.presentation__full {
    @include flexcol;
    @include centrehv;
    margin: 50px;
}

.presentation {
    @include flexcol;
    @include centrehv;
    background: #f8f8f8;

    &__titre {
        margin: 20px;
        font-size: $sizetitre;
        text-align: center;
        font-weight: bold;
    }

    p {
        text-align: center;
        margin: 20px;
        color: $colorp;
    }

    a {
        text-align: center;
        margin: 20px 0;
        padding: 20px 30px;
        border-radius: 50px;
        text-decoration: none;
        color: $colorwhite;
        background: linear-gradient(0deg, rgba(147, 86, 220, 1) 20%, rgba(255, 121, 218, 1) 100%);
        box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.3);
        opacity: 1;
        transition: all 0.2s ease-in-out;
       

        &:hover {
            opacity: 0.8;
            box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.5);
        }
    }
}



//---------FONCTIONNEMENT


.fonction {
    margin: 60px 30px;

    &__titre {
        font-weight: bold;
        font-size: $sizetitre;
        margin-bottom: 20px;
    }

    &__all-options {
        @include flexcol;
        @include centrehv;
    }

    &__options {
        position: relative;
        width: 70%;
        margin: 20px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $colorgrey;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        padding: 30px;
        border-radius: 25px;
        box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
        transition: all 0.2s ease-in-out;

        span {
            position: absolute;
            width: 35px;
            height: 35px;
            display: flex;
            @include centrehv;
            left: -15px;
            background: $colorprim;
            color: $colorwhite;
            border-radius: 50%;
        }

        i {
            padding-right: 50px;
            padding-left: 15px;
            font-size: 20px;
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            background-color: rgba(147, 86, 220, 0.1);
            box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.5);

            i {
                color: $colorprim;
            }
        }
    }
}



//---------RESTAURANTS



.restaurants {
    background: $colorgrey;
    padding: 80px 0;

    &__titre {
        font-size: $sizetitre;
        font-weight: bold;
        margin-bottom: 40px;
        margin-left: 30px;
    }

    &__cards {
        margin: 40px 25px;
        border-radius: 25px;
        @include flexcol;
        background: $colorwhite;
        box-shadow: -2px 10px 10px rgba($color: #000000, $alpha: 0.1);

        a {
            position: relative;
            height: 100%;
            border-radius: 25px;
            text-decoration: none;
            color: #000;
        }
    }
}

.cards--img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    margin: 0;

    & img {
        width: 100%;
        max-height: 400px;
        max-width: 790px;
        border-radius: 25px 25px 0 0;
    }
}

.nouveau {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    display: flex;
    @include centrehv;
    background-color: $colortert;
    color: #096850;
    border-radius: 5px;
    font-weight: bold;
}

.cards--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 26px;
}

.cards-txt {
    @include flexcol;

    h3 {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
    }
}

.p-cards {
    color: $colorp;
}

.cards-coeur {
    position: relative;
}

.cards-coeur i {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 25px;
}

.icone-coeur {
    background-image: linear-gradient(to top,
            rgba(255, 255, 255, 0.8631827731092436) 20%,
            rgba(255, 255, 255, 1) 100%);
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in;
    opacity: 0;
} 

.icone-coeur:hover {
    background-image: linear-gradient(to top,
            rgba(255, 121, 218, 0.8631827731092436) 20%,
            rgba(147, 86, 220, 1) 100%);
    background-clip: text;
    color: transparent;
    opacity: 1;
}




//---------FOOTER

footer {
    background-color: rgb(78, 78, 78);
    color: white;
    @include flexcol;
}

footer h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    padding: 30px;
    margin-top: 20px;
}

.footer-txt {
    @include flexcol;
    margin-left: 30px;
    margin-bottom: 30px;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
    font-size: $sizeparagraphe;
}

.footer-p1 i {
    margin-right: 22px;
}

.footer-p2 i {
    margin-right: 15px;
    font-size: $sizeparagraphe;
}




// loader spinner sur page d'accueil