body {
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
}


//---------LOADER

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -100;
    background: $colortert;
    opacity: 0;
    @include flexcol;
    @include centrehv;
    animation: disparition 2s ease-in-out 0s 1;
}

.ring {
    position: absolute;
    z-index: -500;
    display: flex;
    width: 100%;
    height: 100%;
    animation: index 2s ease 0s 1 ;
}

.ring-txt {
    width: 280px;
    height: 280px;
    margin: auto;
    display: flex;
    @include centrehv;
    color: white;
    font-family: "Shrikhand", cursive;
    line-height: 1.5;
    font-size: 25px;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-radius: 50%;
    opacity: 0;
    animation: rotation-loading 2s ease-in-out 0s 1;

}







//---------HEADER



.header-menu {
    display: flex;
    @include centrehv;
    position: relative;

    a {
        position: absolute;
        left: 50px;
        color: black;
        font-size: 30px;

    }
}

.header-menu__titre {
    margin: 15px;
    letter-spacing: 1px;
    font-size: $sizetitre;

}




//---------MENU


.menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    img {
        width: 100%;
        height: 100%
    }
}

.choix-menu {
    @include flexcol;
}

.all-menus {
    padding: 40px;
    background-color: $colorgrey;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
}

.all-menus-titre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: $sizetitre;

    &-heart {
        position: relative;

        i {
            position: absolute;

            &:hover {
                background-image: linear-gradient(to top,
                        rgba(255, 121, 218, 0.8631827731092436) 20%,
                        rgba(147, 86, 220, 1) 100%);
                background-clip: text;
                color: transparent;
                opacity: 1;
            }
        }
    }

    .fa-solid {
        background-image: linear-gradient(to top,
                rgba(255, 255, 255, 0.8631827731092436) 20%,
                rgba(255, 255, 255, 1) 100%);
        background-clip: text;
        color: transparent;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }
}



.groupe-menus {
    min-width: 200px;
}

.menu-1 {
    margin: 50px 0 90px 0;
    @include flexcol;

    h2 {
        position: relative;
        font-size: 20px;
        margin-bottom: 50px;
        color: rgb(68, 68, 68);

        &::after {
            content: " ";
            position: absolute;
            width: 70px;
            height: 6px;
            top: 30px;
            left: 0;
            background-color: $colortert;
        }
    }
}

.menu-plats-one {
    @include menus-plats;
    @include animation-one;

    &:hover {
        @include menu-plats-hover
    }
}

.menu-plats-two {
    @include menus-plats;
    @include animation-two;

    &:hover {
        @include menu-plats-hover;
    }
}

.menu-plats-three {
    @include menus-plats;
    @include animation-three;

    &:hover {
        @include menu-plats-hover;
    }
}


.menu-plats-txt {
    min-width: 100px;
    flex: 1;
    padding: 20px 0 20px 20px;
    transition: all 0.5s ease-in-out;

    h3 {
        padding-bottom: 5px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        padding-bottom: 3px;
        color: $colorp;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.menu-plats-prix {
    transition: all 0.5s ease-in-out;
    min-width: 50px;
    display: flex;
    @include centrehv;
    margin: 0 10px;

    span {
        font-size: 20px;
        font-weight: bold;
    }
}

.menu-plats-validation {
    display: flex;
    @include centrehv;
    width: 0%;
    transition: all 0.5s ease-in-out;
    border-radius: 0 20px 20px 0;
    background-color: $colortert;
    overflow: hidden;

    i {
        padding: 10px;
        border-radius: 50%;
        background-color: $colorwhite;
        color: $colortert;
        transition: all 1s ease-in-out;
    }
}

.fa-check {
    font-size: 25px
}

.commander {
    @include flexcol;
    @include centrehv;

    a {
        text-align: center;
        margin-bottom: 90px;
        padding: 25px 100px;
        border-radius: 50px;
        text-decoration: none;
        color: $colorwhite;
        background: rgb(181, 0, 196);
        background: linear-gradient(0deg, rgba(147, 86, 220, 0.8631827731092436) 20%, rgba(255, 121, 218, 1) 100%);
        box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.3);
        opacity: 1;
        transition: all 0.2s ease-in-out;

        &:hover {
            opacity: 0.8;
            box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.5);
        }
    }
}






//---------FOOTER

footer {
    background-color: rgb(78, 78, 78);
    color: white;
    @include flexcol;
}

footer h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    padding: 30px;
    margin-top: 20px;
}

.footer-txt {
    @include flexcol;
    margin-left: 30px;
    margin-bottom: 30px;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
    font-size: $sizeparagraphe;
}

.footer-p1 i {
    margin-right: 22px;
}

.footer-p2 i {
    margin-right: 15px;
    font-size: $sizeparagraphe;
}