@keyframes ouverture-plats-one {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes ouverture-plats-two {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    50% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes ouverture-plats-three {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    75% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes ouverture-plats-four {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    90% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}