@mixin flexcol {
    display: flex;
    flex-direction: column;
}

@mixin centrehv {
    justify-content: center;
    align-items: center;
}

@mixin menus-plats {
    display: flex;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: $colorwhite;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.2);
}

@mixin menu_plats-hover {
    .menu-plats-txt {
        
    }

    .menu-plats-prix {
        
    }

    .menu-plats-validation {
        width: 70px;
        i {
           animation: rotation 0.3s ease-in-out 0.1s 1;
    }
}
}

@mixin animation_one {
    animation: ouverture-plats-one 2.2s ease-in-out 1s 1;
}

@mixin animation_two {
    animation: ouverture-plats-two 2.6s ease-in-out 1s 1;
}

@mixin animation_three {
    animation: ouverture-plats-three 3s ease-in-out 1s 1;
}

@mixin animation_four {
    animation: ouverture-plats-four 3.4s ease-in-out 1s 1;
}
