@mixin flexcol {
    display: flex;
    flex-direction: column;
}

@mixin centrehv {
    justify-content: center;
    align-items: center;
}

@mixin menus-plats {
    display: flex;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: $colorwhite;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.2);
}

@mixin menu_plats-hover {
    .menu-plats-txt {
        width: 50%;
    }

    .menu-plats-prix {
        width: 30%;
    }

    .menu-plats-validation {
        width: 20%;
        i {
            display: block;
        }
    }
}


@mixin animation_one {
    animation: ouverture-plats-one 0.5s ease-in-out 0s 1;
}

@mixin animation_two {
    animation: ouverture-plats-two 0.7s ease-in-out 0s 1;
}

@mixin animation_three {
    animation: ouverture-plats-three 0.9s ease-in-out 0s 1;
}

@mixin animation_four {
    animation: ouverture-plats-three 1.1s ease-in-out 0s 1;
}
