@media screen and (min-width:1192px) {

    .menu-img {
        max-height: 600px
    }

    .groupe-menus {
        @include flexcol;
    }

    .menu-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 40px;
    }

    .menu-plats-one, .menu-plats-two, .menu-plats-three, .menu-plats-four {
        margin: 0 10px;
        width: 30%;
    }

    .menu-plats-txt {
        flex: 1;
        @include flexcol;
    }

    .menu-plats-prix {
        width: 50px;
        margin-left: 10px;
        span {
            bottom: 50px;
        }
    }
    
    .commander a {
        padding: 30px 100px;
        border-radius: 25px;
        margin-top: 100px;
    }
}