@media screen and (min-width: 768px) {


    //-----------------HEADER    


    .header__titre {
        font-size: 40px;
    }

    .header__localisation {
        font-size: 20px;
    }


    //-----------------FONCTION


    .fonction__titre {
        display: flex;
        @include centrehv
    }

    .fonction__all-options {
        width: 80%;
        margin: 0 auto;
    }

    //-----------------RESTAURANTS

    .restaurants {
        padding: 40px 0;
    }

    .restaurants__titre {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .restaurants__all-cards {
        display: flex;
        flex-wrap: wrap;
        @include centrehv;
    }

    .restaurants__cards {
        width: 40%;
        height: 100%;
    }

    .cards--img {
        height: 100%;

        img {
            height: 100%;
        }
    }

    .nouveau {
        top: 30px;
        right: 30px;
        padding: 10px 20px;
    }

    .cards--heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }

    .cards-txt h3 {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .cards-coeur i {
        top: -17px;
        right: 10px;
        font-size: 25px;
    }



    //-----------------FOOTER

    footer {
        @include flexcol;
        @include centrehv;
        h3 {
            padding: 10px;
        }
    }
    .footer-txt {
        @include centrehv;
        margin: 0;
    }
}


    



@media screen and (min-width: 1192px) {


    //-----------------FONCTION

    .fonction__titre {
        display: flex;
        @include centrehv
    }

    .fonction__all-options {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .fonction__options {
        width: 20%;
        margin: 20px 30px 0 30px;
    }




    //-----------------RESTAURANTS

    .restaurants {
        padding: 40px 0;
    }

    .restaurants__all-cards {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 30px;
    }

    .restaurants__cards {
        width: 40%;
        height: 100%;
        margin: 0 10px;
    }

    .nouveau {
        top: 30px;
        right: 30px;
        padding: 5px 10px;
    }

    .cards--heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }

    .cards-txt h3 {
        margin-bottom: 10px;
        font-weight: bold;
    }

    //-----------------FOOTER

    footer {
        @include flexcol;
        @include centrehv;
    }
    .footer-txt {
        @include centrehv;
    }


}